[submodule "common"]
	path = common
	url = https://github.com/mschlegel81/common.git
	branch = master
[submodule "igSrc"]
	path = igSrc
	url = https://github.com/mschlegel81/igSrc.git
	branch = master
