*.bak
*.ppu
glut32.dll
frac.inc
guiSrc/catalogue.dat
*.exe
*.lps
*.res
*.o
*.compiled
*.or
*.obj
*.a
display/lib/x86_64-win64/*
*.todo
*.jpg
*.fileHist
git.7z
im/lib/x86_64-win64/*.lfm
*/lib/i386-win32/*
igSrc/backup/*
*/backup/*
/display/imig_debug.log
/build.log
